---
layout: default
title: Write-ups
permalink: /writeups/
---

<header>
  <h1>Write-ups</h1>
</header>

<section id="writeups">
  <ul class="writeups-list">
    {% for writeup in site.data.writeups %}
    <li>
      {% if writeup.link %}
      <a href="{{ writeup.link }}" {% if writeup.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
        {{ writeup.title }}
      </a>
      {% else %}
      {{ writeup.title }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>