<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}

<script>
const toggle = document.getElementById('theme-toggle');
toggle.onclick = () => {
  const theme = document.documentElement.getAttribute('data-theme');
  document.documentElement.setAttribute(
    'data-theme',
    theme === 'dark' ? 'light' : 'dark'
  );
};
</script>
</body>
</html>
